@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: #FAFAF9;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* Main Container */
div.main-container {
    display: flexbox;
    flex-direction: column;
    border: #FAFAF9 1px solid;
    margin-top: 162px;
    width: 88%;
    height: 65vh;

    /* Image Main */
    & img.image-big-star {
        width:75px;
        border: none;
        border-radius: 50%;
    }

    /* Reviewers Topic */
    & div.topic-container {
        border: #FAFAF9 1px solid;
        margin-top: 16px;
        width: 11.4%;
        display: block;
        margin-left: 0;

        & p.txt-reviewer {
            color: #18181B;
            font-size: 2.25rem;
            font-weight: 500;
        }
    }

    /* Reviewers Content */
    & div.reviewers-container {
        border: #FAFAF9 1px solid;
        width: 33%;
        display: block;
        margin-top: 12px;
        margin-left: 0;

        & p.txt-reviewers {
            color: #52525A;
            font-size: 1.25rem;
            font-weight: 400;
        }
    }
    /* Check Container */
    & div.checklist-container {
        width: 33%;
        border: #FAFAF9 1px solid;
        margin-top: 32px;
        margin-left: 0;

        & div.container-image-check {
            width: 20px;
            height: 20px;
            border: #FAFAF9 1px solid;
            margin-left: 0;

            /* Image Check */
            & img.image-check {
                width: 19px;
                height: 19px;
                display: block;
                margin-top: -0.5px;
            }
        }

        /* Content Check */
        & div.txt-checklist {
            height: 20px;
            margin-top: -20px;
            border: #FAFAF9 1px solid;
            display: block;
            position: relative;
            margin-left: 28px;

            & p.txt-checklists {
                color: #52525A;
                font-size: 0.875rem;
                font-weight: 200;
            }
        }
    }

    /* Google Logo Container */
    & div.google-container-box {
        display: flex;
        border: #FFFFFF 1px solid;
        border-radius: 15px;
        background-color: #FFFFFF;
        position: relative;
        width: 460px;
        height: 21vh;
        top: -38vh;
        left: 50vh;

        & div.google-container-image {
            display: block;
            border: #FFFFFF 1px solid;
            width: 100px;
            height: 4vh;
            margin-top: 28px;
            margin-left: 40px;

            /* Image Google Logo */
            & img.image-logo-google {
                width: 100px;
                margin-top: 3px;
            }
        }

        /* Star Google Container */
        & div.start-google-container {
            display: block;
            border: #FFFFFF 1px solid;
            width: 120px;
            height: 2vh;
            margin-top: 38px;
            margin-left: 160px;
            position: absolute;

            & div.star-google {
                display: block;
                margin: 0 4px 0 0;
                margin-top: -3px;
            }

            & p.gray-star-google {
                display: block;
                filter: saturate(0);
                position: absolute;
                top: -3px;
                left: 86px;
            }
        }

        & div.sammanthaLee-container-text {
            display: block;
            border: #FFFFFF 1px solid;
            width: 120px;
            height: 2.3vh;
            position: absolute;
            margin-left: 40px;
            margin-top: 86px;

            & p.sammanthaLee-text {
                font-size: 1rem;
                font-weight: 500;
            }
        }

        & div.under-sammantha-container-txt {
            display: block;
            border: #FFFFFF 1px solid;
            width: 260px;
            height: 5vh;
            position: absolute;
            margin-left: 40px;
            margin-top: 123px;
            margin-bottom: 28px;

            & p.txt-sammantha {
                font-size: 1rem;
                font-weight: 400;
                color: #52525A;
            }
        }
    }

    /* Meta Logo Container */
    & div.meta-container-box {
        display: flex;
        border: #FFFFFF 1px solid;
        border-radius: 15px;
        background-color: #FFFFFF;
        position: relative;
        width: 460px;
        height: 21vh;
        top: -32vh;
        left: 20vh;

        & div.meta-container-image {
            display: block;
            width: 100px;
            height: 4vh;
            border: none;
            position: absolute;
            margin-top: 28px;
            margin-left: 40px;

            /* Image Meta Logo */
            & img.image-logo-meta {
                display: block;
                width: 100px;
                margin-top: -11px;
                margin-left: -1.5px;
            }
        }

        /* Star Meta Container */
        & div.star-meta-container {
            display: block;
            width: 120px;
            height: 2vh;
            border: none;
            position: absolute;
            margin-top: 38px;
            margin-left: 160px;

            & div.star-meta {
                display: block;
                margin: 0 4px 0 0;
                margin-top: -3.5px;
            }
        }

        & div.rachelPatel-container-text {
            display: block;
            width: 120px;
            height: 2.3vh;
            border: none;
            position: absolute;
            margin-top: 86px;
            margin-left: 40px;

            & p.rachelPatel-text {
                font-size: 1rem;
                font-weight: 500;
            }
        }

        & div.under-rachelPatel-container-txt {
            display: block;
            width: 280px;
            height: 5vh;
            border: none;
            position: absolute;
            margin-left: 40px;
            margin-top: 123px;
            margin-bottom: 28px;

            & p.txt-rachelPatel {
                font-size: 1rem;
                font-weight: 400;
                color: #52525A;
            }
        }
    }
}

/* Responsive */
@media screen and (max-width: 640px){
    div.main-container {
        height: 102vh;
        margin-top: 90px;

        & div.topic-container {
            width: 195px;
        }

        & div.reviewers-container {
            width: 555px;
        }

        & div.txt-checklist {
            width: 272px;
        }

        & div.txt-checklist {
            width: 430px;
        }

        & div.google-container-box {
            top: 30px;
            left: 60px;
        }

        & div.meta-container-box {
            left: -60px;
            top: 70px;
        }
    }
}